<footer id="footer" class="footer" data-bg-img="/frontend/images/footer-bg.png" data-bg-color="#001018">
    <div class="container pt-70 pb-40">
        <div class="row border-bottom-black">
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <% @company_info = Erp::Contacts::Contact.get_main_contact %>
                    <img class="mt-10 mb-20" alt="" src="/frontend/images/logo-wide-white-footer.png">
                    <% if !@company_info.nil? %>
                        <% if @company_info.note.present? %>
                            <p><%= @company_info.note %></p>
                        <% end %>
                        <ul class="list-inline mt-5">
                            <li class="m-0 pl-10 pr-10">
                                <i class="fa fa-home text-theme-colored mr-5"></i> <span class="font-weight-600"><%= @company_info.contact_name %></span>
                            </li>
                            <% if display_contact_address(@company_info).length > 0 %>
                            <li class="m-0 pl-10 pr-10">
                                <i class="fa fa-map-marker text-theme-colored mr-5"></i> <%= display_contact_address(@company_info) %>
                            </li>
                            <% end %>
                            <% if @company_info.phone.present? %>
                            <li class="m-0 pl-10 pr-10">
                                <i class="fa fa-phone text-theme-colored mr-5"></i> <%= link_to @company_info.phone, "tel:#{@company_info.phone}", class: 'text-gray' %>
                            </li>
                            <% end %>
                            <% if @company_info.hotline.present? %>
                            <li class="m-0 pl-10 pr-10">
                                <i class="fa fa-mobile text-theme-colored mr-5"></i> <%= link_to @company_info.hotline, "tel:#{@company_info.hotline}", class: 'text-gray' %>
                            </li>
                            <% end %>
                            <% if @company_info.email.present? %>
                            <li class="m-0 pl-10 pr-10">
                                <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <%= mail_to @company_info.email, @company_info.email, class: 'text-gray' %>
                            </li>
                            <% end %>
                            <% if @company_info.website.present? %>
                            <li class="m-0 pl-10 pr-10">
                                <i class="fa fa-globe text-theme-colored mr-5"></i> <%= @company_info.website %>
                            </li>
                            <% end %>
                        </ul>
                    <% end %>
                    <ul class="social-icons icon-bordered icon-circled icon-sm mt-15">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Liên kết nhanh</h5>
                    <ul class="list angle-double-right list-border">
                        <li><a href="<%= erp_vnmechanical.about_us_path %>">Về chúng tôi</a></li>
                        <li><a href="<%= erp_vnmechanical.blog_path %>">Tin tức</a></li>
                        <li><a href="<%= erp_vnmechanical.gallery_path %>">Hình ảnh</a></li>
                        <li><a href="<%= erp_vnmechanical.recruitment_path %>">Tuyển dụng</a></li>
                        <li><a href="<%= erp_vnmechanical.contact_us_path %>">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Từ khóa</h5>
                    <div class="tags">
                        <a href="#">băng tải</a>
                        <a href="#">băng chuyền</a>
                        <a href="#">máy đóng gói</a>
                        <a href="#">máy chiết rót</a>
                        <a href="#">máy nông nghiệp</a>
                        <a href="#">thiết bị cơ khí</a>
                        <a href="#">phụ tùng thay thế</a>
                        <a href="#">tư vấn thiết kế</a>
                        <a href="#">cơ khí</a>
                        <a href="#">chế tạo máy</a>
                        <a href="#">động lực học</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Đăng ký nhận tin</h5>
                    <h5 class="subscribe-title font-13 text-gray">Để đăng ký nhận bản tin, cho tới khi có thêm thông báo, vui lòng nhập thông tin vào ô bên dưới và chọn "Đăng ký".</h5>
                    <form id="mailchimp-subscription-form" class="newsletter-form mt-10">
                      <div class="input-group">
                        <input type="email" id="mce-EMAIL" data-height="34px" class="form-control input-sm" placeholder="Nhập địa chỉ email nhận tin" name="EMAIL" value="">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-colored btn-theme-colored text-white btn-xs m-0" data-height="34px">Đăng ký</button>
                        </span>
                      </div>
                    </form>

                    <!-- Mailchimp Subscription Form Validation-->
                    <script type="text/javascript">
                        $('#mailchimp-subscription-form').ajaxChimp({
                            callback: mailChimpCallBack,
                            url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                        });
                    
                        function mailChimpCallBack(resp) {
                            // Hide any previous response text
                            var $mailchimpform = $('#mailchimp-subscription-form'),
                                $response = '';
                            $mailchimpform.children(".alert").remove();
                            if (resp.result === 'success') {
                                $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                            } else if (resp.result === 'error') {
                                $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                            }
                            $mailchimpform.prepend($response);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <%= render "erp/vnmechanical/frontend/modules/footer/copyright" %>
</footer>