<div class="header-nav">
    <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
            <nav id="menuzord-right" class="menuzord default">
                <a class="menuzord-brand pull-left flip xs-pull-center mt-10" href="<%= erp_vnmechanical.root_path %>">
                    <!--<img src="/frontend/images/logo-wide.png" alt="">-->
                    <img src="http://vnmechanical.com/vnmechanical/images/logo.png" alt="">
                </a>
                <ul class="menuzord-menu">
                    <li class="active"><a href="<%= erp_vnmechanical.root_path %>">Trang chủ</a></li>
                    <li><a href="<%= erp_vnmechanical.about_us_path %>">Giới thiệu</a></li>
                    <li><a href="<%= erp_vnmechanical.service_path %>">Dịch vụ</a>
                        <ul class="dropdown">
                            <li><a href="#">Tư vấn</a></li>
                            <li><a href="#">Nâng cấp</a></li>
                            <li><a href="#">Hỗ trợ kỹ thuật</a></li>
                            <li><a href="#">Thay thế phụ tùng</a></li>
                            <li><a href="#">Bảo trì</a></li>
                            <li><a href="#">Lắp đặt - Chạy thử - Đào tạo</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Sản phẩm</a>
                        <ul class="dropdown">
                            <li><a href="#">Băng tải</a></li>
                            <li><a href="#">Băng chuyền</a></li>
                            <li><a href="#">Máy chiết rót</a></li>
                            <li><a href="#">Máy nông nghiệp</a></li>
                        </ul>
                    </li>
                    <li><a href="<%= erp_vnmechanical.blog_path %>">Tin tức</a></li>
                    <li><a href="<%= erp_vnmechanical.root_path %>">Hình ảnh</a></li>
                    <li><a href="<%= erp_vnmechanical.root_path %>">Tuyển dụng</a></li>
                    <li><a href="<%= erp_vnmechanical.contact_us_path %>">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>