<div class="header-nav">
    <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
            <nav id="menuzord-right" class="menuzord default">
                <a class="menuzord-brand pull-left flip xs-pull-center mt-12" href="<%= erp_vnmechanical.root_path %>">
                    <img src="/frontend/images/logo-wide.png" alt="">
                </a>
                <ul class="menuzord-menu text-capitalize">
                    <li class="<%= 'active' if params[:controller] == "erp/vnmechanical/frontend/home" %>">
                        <a href="<%= erp_vnmechanical.root_path %>">Trang chủ</a>
                    </li>
                    <li class="<%= 'active' if (params[:controller] == "erp/vnmechanical/frontend/information" &&
                                                params[:action] == "about_us") %>">
                        <a href="<%= erp_vnmechanical.about_us_path %>">Giới thiệu</a>
                    </li>
                    <li class="<%= 'active' if params[:controller] == "erp/vnmechanical/frontend/service" %>">
                        <a href="<%= erp_vnmechanical.service_path %>">Dịch vụ</a>
                        <ul class="dropdown">
                            <% Erp::Articles::Category.where(alias: Erp::Articles::Category::ALIAS_SERVICE).each do |menu| %>
                            <% service = Erp::Articles::Article.find_by_category_id(menu.id) %>
                            <li class="<%= 'active' if !service.nil? and (service.id == params[:service_id].to_i) %>">
                                <a href="<%= service.nil? ? 'javascript:;' : service_link(service) %>"><%= menu.name %></a>
                            </li>
                            <% end %>
                        </ul>
                    </li>
                    <li class="<%= 'active' if params[:controller] == "erp/vnmechanical/frontend/product" %>">
                        <a href="#">Sản phẩm</a>
                        <ul class="dropdown">
                            <% Erp::Menus::Menu.get_menus.get_active.each do |menu| %>
                            <li class="<%= 'active' if menu.id == params[:menu_id].to_i %>">
                                <a href="<%= menu_link(menu) %>"><%= menu.name %></a>
                            </li>
                            <% end %>
                        </ul>
                    </li>
                    <li class="<%= 'active' if params[:controller] == "erp/vnmechanical/frontend/blog" %>">
                        <a href="<%= erp_vnmechanical.blog_path %>">Tin tức</a>
                    </li>
                    <li class="<%= 'active' if params[:controller] == "erp/vnmechanical/frontend/gallery" %>">
                        <a href="<%= erp_vnmechanical.gallery_path %>">Hình ảnh</a>
                    </li>
                    <li class="<%= 'active' if params[:controller] == "erp/vnmechanical/frontend/recruitment" %>">
                        <a href="<%= erp_vnmechanical.recruitment_path %>">Tuyển dụng</a>
                    </li>
                    <li class="<%= 'active' if (params[:controller] == "erp/vnmechanical/frontend/information" &&
                                                params[:action] == "contact_us") %>">
                        <a href="<%= erp_vnmechanical.contact_us_path %>">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>