<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/frontend/images/bg/bg11.jpg">
    <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content pt-10">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-theme-colored">Tin tức</h3>
                    <ul class="breadcrumb white">
                        <li><a href="<%= erp_vnmechanical.root_path %>">Trang chủ</a></li>
                        <li class="active">Tin tức</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row multi-row-clearfix">
            <% if @blogs.count > 0 %>
            <div class="blog-posts">
                <% @blogs.each_with_index do |blog,index| %>
                <div class="col-md-4">
                    <article class="post clearfix mb-30 bg-lighter">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <%= image_tag blog.image.medium, alt: blog.name, class: 'img-responsive img-fullwidth' %>
                            </div>
                        </div>
                        <div class="entry-content p-20 pr-10">
                            <div class="entry-meta media mt-0 no-bg no-border">
                                <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                    <ul>
                                        <li class="font-14 text-white font-weight-600"><%= blog.created_at.strftime('%Y') %></li>
                                        <li class="font-12 text-white text-nowrap"><%= blog.created_at.strftime('%b %d') %></li>
                                    </ul>
                                </div>
                                <div class="media-body pl-15">
                                    <div class="event-content pull-left flip">
                                        <h2 class="entry-title text-white text-uppercase font-14 font-weight-600 m-0 mt-5">
                                            <%= link_to blog.name, blog_link(blog), title: blog.name %>
                                        </h2>
                                        <% if false %>
                                        <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                                        <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-10"><%= short_text(blog.content, 30) %>...</p>
                            <a href="<%= blog_link(blog) %>" class="btn-read-more">Xem thêm</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>
                <% end %>
                <div class="col-md-12">
                    <nav>
                        <ul class="pagination theme-colored">
                            <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">...</a></li>
                            <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <% else %>
                
            <% end %>
        </div>
    </div>
</section>