<div class="sidebar sidebar-right mt-sm-30">
    <% if false %>
        <div class="widget">
            <h5 class="widget-title line-bottom">Tìm kiếm</h5>
            <div class="search-form">
                <form>
                    <div class="input-group">
                        <input type="text" placeholder="Nhập từ khóa tìm kiếm" class="form-control search-input">
                        <span class="input-group-btn">
                            <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    <% end %>
    
    <%
        if menu.children.empty?
            if menu.parent.present?
                children = menu.parent.children
            else
                children = Erp::Menus::Menu.get_menus
            end
        else
            children = menu.children
        end
    %>
    <% if !children.empty? %>
        <div class="widget">
            <h5 class="widget-title line-bottom">Chuyên mục</h5>
            <div class="categories">
                <ul class="list list-border angle-double-right">
                    <% children.get_active.each do |menu| %>
                        <li>
                            <a href="<%= menu_link(menu) %>"><%= menu.name %> <span>(<%= menu.get_products.count %>)</span></a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    
    <% if !@bestseller_products.empty? %>
        <div class="widget">
            <h5 class="widget-title line-bottom">Xu hướng đặt hàng</h5>
            <div class="top-sellers">
                <% @bestseller_products.each do |product| %>
                    <article class="post media-post clearfix pb-0 mb-10">
                        <%= link_to image_tag(product_image(product.product_images, 'first', 'thumb75'), alt: product.product_name, class: "post-thumb"), product_link(product), title: product.product_name %>
                        <div class="post-right">
                            <h5 class="post-title font-weight-600 mt-0 mb-0">
                                <a href="<%= product_link(product) %>"><%= product.product_name %></a>
                            </h5>
                            <div class="product-detail">
                                <div class="price mb-10">
                                    <% if product.is_sold_out? || product.is_call? || product.product_price.nil? %>
                                        <span class="call-me">Giá liên hệ</span>
                                    <% else %>
                                        <span class="amount"><%= format_price(product.product_price) %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </article>
                <% end %>
            </div>
        </div>
    <% end %>
    
    <% if false %>
        <!-- Advertising banners -->
        <div class="widget">
            <img src="https://kent.vn/wp-content/uploads/2018/01/8-900x600.png" />
        </div>
    <% end %>
</div>