<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/frontend/images/bg/bg11.jpg">
    <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content pt-10">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-theme-colored"><%= @current_menu.name %></h1>
                    <ul class="breadcrumb white">
                        <li><a href="<%= erp_vnmechanical.root_path %>">Trang chủ</a></li>
                        <li><a href="<%= erp_vnmechanical.service_path %>">Dịch vụ</a></li>
                        <li class="active"><%= @current_menu.name %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Services Details -->
<section>
    <div class="container mt-10 mb-30 pt-10 pb-10">
        <div class="row">
            <div class="col-md-8 blog-pull-right">
                <div class="single-service">
                    <h4 class="line-bottom text-uppercase mt-30 mb-20"><%= @service.name %></h4>
                    <div>
                        <%= @service.content.html_safe %>
                    </div>
                    
                    <% if false %>
                        <h4 class="line-bottom text-uppercase mt-30 mb-20">Price Idea</h4>
                        <ul id="myTab" class="nav nav-tabs boot-tabs">
                            <li class="active"><a href="#small" data-toggle="tab">Hourly Plan</a></li>
                            <li><a href="#medium" data-toggle="tab">Weekly Plan</a></li>
                            <li><a href="#large" data-toggle="tab">Complate Project Plan</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="small">
                                <h5><span class="text-theme-color-2">Price :</span> $350</h5>
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh</p>
                            </div>
                            <div class="tab-pane fade" id="medium">
                                <h5><span class="text-theme-color-2">Price :</span> $420</h5>
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh</p>
                            </div>
                            <div class="tab-pane fade" id="large">
                                <h5><span class="text-theme-color-2">Price :</span> $570</h5>
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh</p>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="sidebar sidebar-left mt-sm-30 ml-30 ml-sm-0">
                    <% if !@categories.empty? %>
                    <div class="widget">
                        <div class="services-list">
                            <ul class="list mt-0">
                                <% @categories.each do |category| %>
                                <% submenu = Erp::Articles::Article.find_by_category_id(category.id) %>
                                <li class="<%= 'active' if !submenu.nil? and (submenu.id == params[:service_id].to_i) %>">
                                    <a href="<%= submenu.nil? ? 'javascript:;' : service_link(submenu) %>"><%= category.name %></a>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <% end %>
                    <% if false %>
                    <div class="widget">
                        <h4 class="widget-title line-bottom">Hồ sơ năng lực</h4>
                        <div class="brochured">
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-download"></i>Tải xuống</a></li>
                            </ul>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>