<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/frontend/images/bg/bg11.jpg">
    <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content pt-10">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-white"><%= @menu.present? ? @menu.name : 'Sản phẩm' %></h1>                    
                    <ul class="breadcrumb white">
                        <li><a href="<%= erp_vnmechanical.root_path %>">Trang chủ</a></li>
                        <% if @menu.present? %>
                            <% @menu.self_and_parent_menus.each do |menu| %>
                                <% if @menu.id != menu.id %>
                                    <li><%= link_to menu.name, menu_link(menu) %></li>
                                <% end %>
                            <% end %>
                        <% end %>
                        <li class="active"><%= @menu.present? ? @menu.name : 'Sản phẩm' %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container mt-30 mb-30 p-30">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <%= render "erp/vnmechanical/frontend/modules/product/sidebar", products: @products, menu: @menu %>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="row multi-row-clearfix">
                        <div class="products">
                            <% if @products.count > 0 %>
                                <% @products.each do |product| %>
                                    <div class="col-sm-6 col-md-4 col-lg-4 mb-20">
                                        <div class="product pb-0 mb-20">
                                            <% if product.is_new? %>
                                            <span class="tag-new">Mới</span>
                                            <% end %>
                                            <% if product.is_deal? %>
                                            <span class="tag-sale">Giảm <%= product.deal_percent %>%</span>
                                            <% end %>
                                            <div class="product-thumb">
                                                <%= link_to image_tag(product_image(product.product_images, 'first', 'thumb445'), alt: product.product_name, class: "img-responsive img-fullwidth"), product_link(product), title: product.product_name %>
                                                <div class="overlay">
                                                    <div class="btn-add-to-cart-wrapper">
                                                        <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="<%= erp_vnmechanical.contact_us_path %>">Đặt hàng</a>
                                                    </div>
                                                    <div class="btn-product-view-details">
                                                        <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="<%= product_link(product) %>">Chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-details text-center bg-lighter pt-15 pb-10">
                                                <a href="<%= product_link(product) %>" title="<%= product.product_name %>">
                                                    <h5 class="product-title mt-0"><%= truncate(product.product_name, length: 25) %></h5>
                                                </a>
                                                
                                                <div class="price">
                                                    <% if product.is_sold_out? || product.is_call? || product.product_price.nil? %>
                                                        <span class="call-me">Giá liên hệ: <a href="tel:0947 748 895">0947 748 895</a></span>
                                                    <% else %>
                                                        <% if product.is_deal? %>
                                                            <del><span class="amount"><%= format_price(product.price) %></span></del>
                                                        <% end %>
                                                        <ins><span class="amount"><%= format_price(product.product_price) %></span></ins>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="box-pagination text-center">
                                <%= will_paginate @products, previous_label: '<span aria-hidden="true">&laquo;</span>', next_label: '<span aria-hidden="true">&raquo;</span>', renderer: BootstrapPagination::Rails %>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>