<% title @product.name %>
<% product_images = @product.product_images %>

<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/frontend/images/bg/bg11.jpg">
    <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content pt-10">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-theme-colored"><%= @product.product_name %></h1>
                    <ul class="breadcrumb white">
                        <li><a href="<%= erp_vnmechanical.root_path %>">Trang chủ</a></li>
                        <% if !@menu.nil? %>
                            <% @menu.self_and_parent_menus.each do |menu| %>
                                <li><%= link_to menu.name, menu_link(menu) %></li>
                            <% end %>
                        <% end %>
                        <li class="active"><%= @product.product_name %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="product">
                    <div class="col-md-5">
                        <%= render "erp/vnmechanical/frontend/modules/product/product_detail_photos", product: @product, product_images: product_images %>
                    </div>
                    <div class="col-md-7">
                        <%= render "erp/vnmechanical/frontend/modules/product/product_summary", menu: @menu, product: @product %>
                    </div>
                    <div class="col-md-12">
                        <%= render "erp/vnmechanical/frontend/modules/product/product_tab", product: @product %>
                    </div>
                </div>
                <div class="col-md-12 mt-30">
                    <%= render "erp/vnmechanical/frontend/modules/product/related_products", menu: @menu, product: @product %>
                </div>
            </div>
        </div>
    </div>
</section>